h1{
    margin: 25px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
}

.pokedex-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}