
.welcome{
    display: flex;
    width: 100%;
    height: 100vh;
}

.welcome__banner{
    width: 50%;
    background-color: #1a83ff;
}

.welcome__text{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome__text h1{
    margin: 10px;
}

.welcome__text h2{
    margin: 10px;
}

.welcome__button{
    background: #1a83ff;
    margin: 20px;
}

.welcome__button:hover{
    background: #060b26;
}